#footer {
	padding: 30px 0;

	h5 {
		text-decoration: underline;
		margin-bottom: 20px;
	}
}

.social-links {
	@extend %listreset;
	display: flex;
	justify-content: center;
	font-size: 30px;

	a {
		text-decoration: none;
		@include animate(color);

		&:hover {
			color: $white;
		}
	}

	li {
		+ li {
			margin-left: 30px;
		}
	}
}
